* {
    margin: 0;
    padding: 0;
    font-family: 'Epilogue', sans-serif;
}
body {
    background: #F6FAFD;
    
}
.navbar {
    margin-top: 62px; 
    margin-left: 240px;
    margin-right: 240px;
    display: flex;
    height: 30px;
    width: 100%;
}
.nav-icon {
    margin-top: -8px;
    width: 49px;
    height: 35px;     
}
.navigation {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 330px;
    margin-left: 121px;
    font-size: 16px;   
}
.li-nav-1 {
    font-weight: bold;
}
.li-nav-1, .li-nav-2 {
    text-decoration: none;
    color: #212353
}
.button-nav {
    margin-top: -15px;
    margin-left: 400px;
    width: 210px;
    height: 60px;
}
.button-request, .button-contact-2 {
    border: none;
    width: 210px;
    height: 60px;
    background-color: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: 50px;
    color: #212353;
    font-size: 16px;
    font-weight: bold;
    background-image: url(img/arrow.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 85%;
    padding-right: 40px;
    outline: none;
}
.arrow {
    width: 20px;
    height: 14px;
}
.container-1 {
    margin-top: 130px;
    margin-left: 240px;
    margin-right: 112px;
    max-height: 565px;
    max-width: 1200px;
    margin-bottom: 130px;

}
.container-1-title, .container-1-title2 {
    font-size: 80px;
    font-weight: 700;
    color: #212353;
}
.containder-1-text {
    margin-top: 50px;
}
.containder-1-text, .containder-1-text2, .containder-1-text3, .containder-1-text4  {
    font-size: 18px;
    font-weight: 500px;
    line-height: 28.8px;
    color: #4B5D68;
}
.button-learn {
    margin-top: 66px;
    width: 170px;
    height: 60px;
    background: #9C69E2;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 550;
    color: #FFFFFF;
    border: none;
    outline-style: none;
}
.container-img-1 {
    width: 885px;
    height: 468px;
    margin-left: 25em;
    margin-top: -24em;
    background: none;
}
.container-2 {
    margin-left: 240px;
    margin-right: 243px;
    height: 560px;
    width: 1117px;
    background: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}
.container2-block-2 {
    margin-top: 125px;
    width: 500px;
    height: 310px;
    margin-right: 92px;
    margin-left: 50px;
}
.container-2-title, .container-2-title2 {
    font-weight: 700;
    font-size: 40px;
    color: #212353;
    line-height: 130%;
}
.container-2-title2 {
    margin-bottom: 40px;
}
.container-2-text1, .container-2-text2, .container-2-text3, .container-2-text4, .container-2-text5 {
    font-weight: 500;
    font-size: 17px;
    color: #4B5D68; 
    line-height: 160%;
}
.container-2-img-2 {
    width: 477px;
    height: 504px;
    background: none;
}
.container-3 {
    margin-left: 240px;
    margin-right: 112px;
    margin-top: 150px;
    height: 150px;
    width: 1117px;
    text-align: center;
}
.container-3-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    color: #212353;
}
.container-text-3, .container-text-32 {
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;  
}
.container-4 {
    height: 720px;
    width: 1150px;
    margin-left: 240px;
    margin-right: 112px;
    margin-top: 150px;
    margin-bottom: 150px;
    display: flex;
    flex-wrap: wrap;
    color: #212353;
}
.block-1, .block-2, .block-3, .block-4 {
    height: 340px;
    width: 540px;
    display: flex; 
}
.block-3, .block-4 {
    margin-top: 120px;
}
.block-2, .block-4 {
    margin-left: 45px;
}
.block-1-textcontainer1, .block-2-textcontainer2, .block-3-textcontainer3, .block-4-textcontainer4 {
    height: 280px;
    width: 240px;
    margin-left: 30px;
    margin-top: 5px;
}
.block-1-title, .block-2-title, .block-3-title, .block-4-title{
    font-size: 24px;
    line-height: 130%;
    font-weight: bold;
    margin-bottom: 20px;
}
.block-1-text, .block-2-text, .block-3-text, .block-4-text {
    font-size: 16px;
    line-height: 160%;
    margin-bottom: 5px;
}   
.button-block-arrow-1, .button-block-arrow-2, .button-block-arrow-3, .button-block-arrow-4  {
    margin-top: 20px;
    border: none;
    width: 130px;
    height: 26px;
    background-color: #F6FAFD;
    color: #212353;
    font-size: 16px;
    font-weight: bold;
    background-image: url(img/arrow.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 100%;
    padding-right: 40px;
    outline: none;
}
.block-1-img1 {
    width: 232px;
    height: 211px;
    margin-top: 20px;
}
.block-2-img2 {
    width: 241px;
    height: 185px;
    margin-top: 20px;
}
.block-3-img3 {
    margin-left: -13px;
    margin-top: 55px;
    height: 181px;
    left: 220px;
}
.block-4-img4 {
    margin-left: 13px;
    width: 230px;
    height: 201px;
}
.button-block-arrow-2 {
    margin-top: 50px;
}
.button-block-arrow-3 {
    margin-top: 85px;
}
.button-block-arrow-4 {
    margin-top: 25px;
}
.container-5 {
    display: flex;
    flex-wrap: wrap;
    width: 1118px;
    height: 709px;
    background: #9C69E2;
    border-radius: 50px;
    border: none;
    margin-left: 240px;
    margin-right: 240px;
    margin-bottom: 150px;

}
.container-5-title {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 40px;
    margin-top: 109px;
    margin-left: 93px;
}
.container-5-block {
    display: flex;
    margin: 88px 76px 130px 93px;
    width: 949px;
    height: 330px;
    background: #FFFFFF;
    box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3); 
    border-radius: 20px;
}
.container-5-textblock {
    margin-top: 80px;
    height: 200px;
    width: 600px; 
    margin-left: 44px;
}
.avatar {
    margin-top: 60px;
    margin-left: 102px;
    width: 132.42px;
    height: 90px;
}
.block-5-title {
    color: #212353;
    font-weight: 900;
    font-size: 18px;
    line-height: 160%;
    margin-bottom: 5px;
}
.webcite {
    text-decoration: none;
    color: #9C69E2;
    font-weight: 500;
    font-size: 14px;
}
.block-5-text {
    margin-top: 20px;
    font-size: 18px;
    margin-bottom: 5px;
    color: #4B5D68;
}
.img-block-5 {
    margin-top: -60px;
    width: 100%;
}
.icon-more {
    margin-left: 93px;
    margin-right: 814px;
    width: 55px;
    height: 10px;
}
.icon-next-1 {
    margin-right: 10px;
    width: 40px;
    height: 14px;
}
.icon-next-2 {
    margin-right: 58px;
    width: 20px;
    height: 14px;
}
.contact-container {
    border-top: 1px solid #ba9de2;
    width: 1600px;
    height: 761px;
    display: flex;
    flex-wrap: wrap;
}
.contact-title {
    margin-left: 240px;
    margin-right: 243px;
    margin-top: 110px;
    width: 584px;
    height: 101px;   
}
.contact-title-1 {
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    color: #212353;
}
.contact-title-text {
    margin-top: 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
}
.button-title {
    margin-top: 120px;
    height: 120px;
    width: 400px;
    display: flex;
}
.button-contact {
    border: none;
    width: 170px;
    height: 60px;
    background-color: #F063B8;
    border-radius: 50px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    outline: none;
    margin-right: 20px;
}
.contact-container2 {
    height: 408px;
    margin-top: 150px;
    margin-left: 240px;
    margin-right: 240px;
    display: flex;
}
.contact-block-1 {
    color: #212353;
    width: 266px;
    height: 240px;
}
.icon-contact {
    width: 49px;
    height: 35px;
    margin-right: 20px;
    margin-top: -10px;
}
.contact-block-1-title {
    color: #212353;
    font-weight: 900;
    font-size: 20px;
    line-height: 160%;
    margin-top: -35px;
    margin-left: 70px;
    margin-bottom: 70px;
}
.email, .tel, .address {
    font-size: 16px;
    line-height: 180%;
    color: #212353;
    text-decoration: none;
}
.email-1 {
    margin-top: 30px;
}
.contact-block-2 {
    width: 166px;
    height: 220px;
    margin-left: 260px;
}
.contact-block-2-title, .contact-block-3-title,.contact-block-4-title {
    color: #212353;
    font-size: 16px;
    line-height: 160%;
    font-weight: bold;
}
.about, .help {
    margin-top: 50px;
    font-size: 16px;
    line-height: 250%;
    color: #212353;
    list-style: none;
}
.about-li, .help-li {
    text-decoration: none;
    color: #212353;
}
.contact-block-3 {
    width: 166px;
    height: 250px;
    margin-left: 80px;
}
.contact-block-4 {
    margin-left: 100px;
    width: 190px;
    height: 110px;
}
.contact-img1, .contact-img2, .contact-img3 {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.media-logo {
    margin-top: 40px;
}
.footer {
    display: flex;
    width: 1600px;

}
.copy {
    width: 360px;
    height: 50px;
    margin-bottom: 91px;
    margin-left: 240px;
    
}
.copyright {
    font-size: 12px;
    line-height: 180%;
    color: #212353;
}
.messege {
    margin-left: auto;
    margin-right: 143px;
    margin-bottom: 91px;
    width: 60px;
    height: 60px
}